<h1>New entry</<h1>
  <%= form_for(Entry.new) do |form| %>
   <p><%= form.label("title") %></p>
   <%= form.text_field("title") %>
   <p><%= form.label("content") %></p>
   <%= form.text_area("content") %>
   <p><%= form.submit 'Create' %></p>
  <% end %>
